.headshot {
  display: flex;
  gap: 1rem; 
  margin-top: 1rem;
  justify-content: center;
}

.headshot img {
  flex: 0 0 auto;
  width: 10vw;
  transition: transform 0.2s ease;
}

.headshot img:hover {
  transform: scale(1.1); 
}

.experience-icons {
  display: flex;
  gap: 1rem; 
  margin-top: 1rem;
  justify-content: center;
}

.experience-icons img {
  flex: 0 0 auto;
  width: 3vw;
}


/*Phone Size*/
@media (max-width: 390px){
  .experience-icons img {
    width: 0vw; 
    height: 0vh;
  }

  .headshot img {
    flex: 0 0 auto;
    width: 20vw; 
  } 
}