.pc-icons {
  display: flex;
  gap: 1rem; 
  margin-top: 1rem;
  justify-content: center;
}

.pc-icons img {
  flex: 0 0 auto;
  width: 3vw; 
  transition: transform 0.2s ease;
}


/*Phone Size*/
@media (max-width: 390px){
  .pc-icons img {
    width: 0vw;
    height: 0vh;
  }
}